.transition,
.accordion-content,
ul.accordion-group > li > i:before,
ul.accordion-group > li > i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, ul.accordion-group > li {
  animation: flipdown 0.5s ease both;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main .accordion-title {
  margin-bottom: 15px;
  margin-left: 15px;
}

.accordion-content {
  /*color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;*/
  position: relative;
  overflow: hidden;
  /*max-height: 800px;*/
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

ul.accordion-group {
  list-style: none !important;
  perspective: 900;
  padding: 0;
  margin: 0 0 20px 20px;
}

ul.accordion-group > li {
  position: relative;
  margin: 0;
  padding: 4px 0;
  border-top: 1px dotted #dce7eb;
}

ul.accordion-group > li:nth-of-type(1) {
  animation-delay: 0.5s;
}

ul.accordion-group > li:nth-of-type(2) {
  animation-delay: 0.75s;
}

ul.accordion-group > li:nth-of-type(3) {
  animation-delay: 1s;
}

ul.accordion-group > li:last-of-type {
  padding-bottom: 0;
}

ul.accordion-group > li > i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 26px;
  left: 0;
}

ul.accordion-group > li > i:before,
ul.accordion-group > li > i:after {
  content: "";
  position: absolute;
  /*background-color: #ff6873;*/
  background-color: rgba(34, 147, 197, 1.0);
  width: 3px;
  height: 9px;
}

ul.accordion-group > li > i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

ul.accordion-group > li > i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

ul.accordion-group > li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

ul.accordion-group > li input[type=checkbox]:checked ~ .accordion-content {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

ul.accordion-group > li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

ul.accordion-group > li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
