@import "variables.scss";

.home-banner {
  width: 100%;
  height: 483px;
}

.home-banner #cycle {
  width: 100%;
  height: 483px;
  position: relative;
  overflow: hidden;
}

.home-banner #cycle ol.flex-control-nav {
  line-height: 11px;
  list-style: none;
  position: absolute;
  left: -20px;
  top: 240px;
  z-index: 1000;
  text-align: left;
}

.home-banner #cycle ol.flex-control-nav li {
  display: inline-block;
  zoom: 1;
  margin-right: 5px;
  text-align: left;
}

.home-banner #cycle ol.flex-control-nav li a {
  width: 13px;
  height: 13px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #FFF;
}

.home-banner #cycle ol.flex-control-nav li a:hover, .home-banner #cycle ol.flex-control-nav li a.flex-active, .home-banner #cycle ol.flex-control-nav li.cycle-pager-active a {
  background: rgba(255, 255, 255, 1.0);
}

.home-banner #cycle ol.flex-control-nav li a.flex-active, .home-banner #cycle ol.flex-control-nav li.cycle-pager-active a {
  cursor: default;
}

.home-banner #cycle .slide {
  width: 100%;
  height: 483px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.home-banner #cycle .slide .overlay {
  width: 499px;
  height: 483px;
  background: url(../images/bg_slider_overlay.png) no-repeat top left;
  position: relative;
}

.home-banner #cycle .slide .overlay h2 {
  font-size: 24px;
  font-weight: 600;
  color: #FFF;
  line-height: 30px;
  margin: 0;
  padding: 15px 0 10px 15px;
  width: 310px;
  height: 60px;
}

.home-banner #cycle .slide .overlay p {
  font-size: 13px;
  color: #FFF;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0 0 10px 15px;
  width: 240px;
  height: 100px;
}

.home-banner #cycle .slide .overlay a:link, .home-banner #cycle .slide .overlay a:visited {
  display: block;
  position: absolute;
  left: 0px;
  top: 195px;
  width: 160px;
  height: 42px;
  line-height: 42px;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $slider-color;
}

.home-banner #cycle .slide .overlay a:hover, .home-banner #cycle .slide .overlay a:active {
  background-color: #0b3c52;
}

.home-banner #cycle .slide .overlay a::after {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  right: -33px;
  top: 0px;
  border-top: 42px solid $slider-color;
  border-right: 33px solid transparent;
}

.home-banner #cycle .slide .overlay a:hover::after, .home-banner #cycle .slide .overlay a:active::after {
  border-top: 42px solid #0b3c52;
}

.banner {
  width: 100%;
  height: 148px;
  background: url(../images/recycling.png) no-repeat center center;
  z-index: 0;
}
