@import "variables.scss";

/*.home-widget {*/
/*box-shadow: 0px 2px 14px 1px black;*/
/*}*/
/*.home a.survey {*/
/*box-shadow: 0px 2px 14px 1px black;*/
/*}*/
/*.home a.donate {*/
/*box-shadow: 0px 2px 14px 1px black;*/
/*}*/
/*.home-banner {*/
/*box-shadow: 0px 2px 14px 1px black;*/
/*}*/

.addthis_toolbox > a > span {
  border-radius: 15px;
}

ul.hot-buttons li a:link,
ul.hot-buttons li a:visited {
  transition: 300ms all linear;
}

.meta ul.social li a img {
  transition: 300ms all linear;
}

.meta ul.meta-nav li a,
.meta ul.meta-nav li a {
  background-color: $top-color;
  transition: 300ms all linear;
}

.meta ul.meta-nav li a:hover, .meta ul.meta-nav li a:active {
  background-color: $top-color-accent;
  //background-color: rgba(80, 106, 21, 1);
}

header h1 {
  opacity: 1;
  transition: 300ms all linear;
}

.head-wrap:not(.headhesive) header h1:hover {
  opacity: 0.75;
}

/* Recoil Effect */
.recoil-hover-effect {
  /*color: rgba(0,0,0,0.2) !important;*/
  /*font-weight: 700 !important;*/
  /*text-shadow: none !important;*/
  text-decoration: none !important;
  transition: 300ms all linear;
  display: inline-block;
}

.recoil-hover-effect:hover {
  text-decoration: none !important;
  /*-webkit-transform: scale(0.9) !important;*/
  /*-moz-transform: scale(0.9) !important;*/
  /*transform: scale(0.9) !important;*/
  transform: rotate(2deg) !important;
}

/* Swipe Button Effect */
.hover-sweep-to-right {
  position: relative;
  width: 185px;
  height: 34px;
}

.hover-sweep-to-right .text {
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 34px;
  font-size: 12px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 20;
}

.hover-sweep-to-right .trigger {
  position: absolute;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0)
}

.hover-sweep-to-right .sweeper {
  width: 96%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transform: skew(-45deg) scaleX(0);
  -moz-transform: skew(-45deg) scaleX(0);
  -o-transform: skew(-45deg) scaleX(0);
  transform: skew(-45deg) scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hover-sweep-to-right .background {
  width: 96%;
  height: 100%;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  transform: skew(-45deg);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hover-sweep-to-right .trigger:hover + .sweeper,
.hover-sweep-to-right .trigger:focus + .sweeper,
.hover-sweep-to-right .trigger:active + .sweeper {
  -webkit-transform: skew(-45deg) scaleX(1);
  -moz-transform: skew(-45deg) scaleX(1);
  -o-transform: skew(-45deg) scaleX(1);
  transform: skew(-45deg) scaleX(1);
}

//.hover-sweep-to-right.blue .sweeper {
//  background-color: #0C5A7D;
//}
//
//.hover-sweep-to-right.blue .background {
//  background-color: rgba(34, 147, 197, 0.7);
//}
//
//.hover-sweep-to-right.green .sweeper {
//  background-color: rgba(133, 164, 61, 1);
//}
//
//.hover-sweep-to-right.green .background {
//  background-color: rgba(133, 164, 61, 0.7);
//}

.hover-sweep-to-right.one .sweeper {
  background-color: $header-callout-one-color;
}

.hover-sweep-to-right.one .background {
  background-color: transparentize($header-callout-one-color, 0.3);
}

.hover-sweep-to-right.two .sweeper {
  background-color: $header-callout-two-color;
}

.hover-sweep-to-right.two .background {
  background-color: transparentize($header-callout-two-color, 0.3);
}

.hvr-sweep-to-right .trigger {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hvr-sweep-to-right .background {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0C5A7D;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/*.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {*/
/*!*color: white;*!*/
/*}*/
.hvr-sweep-to-right .trigger:hover + .background,
.hvr-sweep-to-right .trigger:focus + .background,
.hvr-sweep-to-right .trigger:active + .background {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-right .background.blue {
  background: #0C5A7D;
}

.hvr-sweep-to-right .background.green {
  background: #4e9100;
}

/*

		        <a href="<?php echo home_url('/'); ?>activity-guide" class="activity-guide hvr-sweep-to-right">
					<span class="" style="width:100%;">Activity Guide</span>
					<div class="trigger"></div>
					<div class="background blue"></div>
				</a>
*/

/* img-caption-slide-up-hover-effect Effect */
.img-caption-slide-up-hover-effect {
  position: relative;
  overflow: hidden;
  height: auto;
  text-align: center;
  cursor: pointer;
}

.img-caption-slide-up-hover-effect:hover img {
  -webkit-transform: translate3d(0, -64px, 0);
  transform: translate3d(0, -64px, 0);
}

.img-caption-slide-up-hover-effect img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  border: 0;
}

.img-caption-slide-up-hover-effect .caption {
  text-transform: none;
  font-size: 90%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 127px, 0);
  transform: translate3d(0, 127px, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  color: #fff;
  background-color: rebeccapurple;
}

#main .img-caption-slide-up-hover-effect .orange {
  background-color: #F9764B;
}

#main .img-caption-slide-up-hover-effect .light-blue {
  background-color: #68A8D5;
}

.img-caption-slide-up-hover-effect:hover .caption {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.img-caption-slide-up-hover-effect img, .img-caption-slide-up-hover-effect .caption {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.img-caption-slide-up-hover-effect h2, .img-caption-slide-up-hover-effect p {
  margin: 0;
}
