.main-col {
  width: 100%;
}

/* HIDE DATATABLES INFO */
div#all_markers_info {
  display: none;
}

.front-end-map-content {
  width: 100%;
}

.search-container h2 {
  margin: 0 0 5px 0 !important;
}

#all_markers_filter {
  display: none;
}

.list-view-marker .thumbnail img {
  height: 75px;
  /*width: 75px;*/
}

.list-view-marker {
  display: flex;
  min-height: 100px;
}

.search-results {
  height: 918px;
}