@import "variables.scss";

.meta {
  top: -4px;
}

.header .nav > div {
  position: relative;
}

.header .nav > div .dropdown-menu {
  display: none;
}

.header .nav > div:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans";
  letter-spacing: 1px;
  min-width: 215px;
  z-index: 200;
}

.dropdown-menu ul {
  background-color: $menu-color;
  list-style: none;
  padding: 8px 0;
}

.dropdown-menu li a {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.83);
  text-decoration: none;
  /*padding: 5px 28px 5px 14px;*/
  padding: 12px 28px 12px 14px;
  display: block;
  transition: 300ms all linear;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
}

.dropdown-menu li:last-child a {
  /*padding-bottom: 0;*/
}

ul.has-separators li:not(:last-child):after {
  content: '';
  /*height: 1px;*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 80%;
  left: 14px;
  position: absolute;
}

ul.has-separators li {
  position: relative;
}

.dropdown-menu .corner {
  display: block;
  border-top: 20px solid $menu-color;
  border-right: 20px solid transparent;
  padding: 0;
  background-color: transparent;
}

/* -- Main Nav -- */
#nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -1px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav::before, #nav::after {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 0;
  content: '';
}

#nav::before {
  border-bottom: 9px solid $menu-color;
  border-left: 58px solid transparent;
  left: -58px;
}

#nav::after {
  border-bottom: 9px solid $menu-color;
  border-right: 58px solid transparent;
  right: -58px;
}

#nav > li {
  position: relative;
}

#nav > li > a:link, #nav > li > a:visited {
  display: block;
  position: relative;
  padding: 4px 16px 16px 16px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  border-bottom: 9px solid $menu-color;
  background: rgba(12, 90, 125, 0.00);
}

#nav > li > a {
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.83);
}

#nav > li:hover > a, #nav > li > a:active, #nav > li > a.current {
  background: $menu-color;
  color: #FFF;
}

#nav > li > a.current {
  cursor: default;
}

#nav > li > a:last-child {
  margin-right: 0px;
}

#nav > li > a::before, #nav > li > a::after {
  display: block;
  position: absolute;
  top: -20px;
  content: '';
}

#nav > li > a::before {
  display: none;
  border-bottom: 21px solid rgba(12, 90, 125, 0.00);
  border-left: 21px solid WHITE;
  left: 0;
  width: 0;
  height: 0;
  z-index: 10;
}

#nav > li > a::after {
  display: none;
  right: 0;
  height: 21px;
  background: $menu-color;
  width: 100%;
  z-index: 1;
}

#nav > li:hover > a::before, #nav > li > a.current::before {
  display: block;
  border-bottom: 21px solid $menu-color;
}

#nav > li:hover > a::after, #nav > li > a.current::after {
  display: block;
  background: $menu-color;
}

#nav > li:hover > .dropdown-menu {
  display: block !important;
  margin-top: 3px;
}

#nav > li:hover > .dropdown-menu.multi-section {
  display: flex !important;
  margin-top: 3px;
}

#nav > li:not(:nth-last-child(2)) {
  margin-right: 3px;
}

.dropdown-menu ul li a:hover {
  color: rgba(255, 255, 255, 1.0);
}

.dropdown-menu ul li a {
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.83);
}

#nav > li > a > .tab-padding {
  display: none;
}

#nav > li:hover > a > .tab-padding {
  display: block;
  position: absolute;
  background-color: $menu-color;
  width: 100%;
  height: 10px;
  bottom: -17px;
  left: 0;
  z-index: 300;
}

.multi-section {
  background-color: $menu-color;
  display: flex;
}

.multi-section .section {
  padding: 5px 10px;
}

.multi-section .section:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.20);
}

.dropdown-menu ul.multi-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 435px;
  /*height: 287px;*/
  max-height: 100%;
  /*max-height: calc(100% - 16px);*/
}

.dropdown-menu ul.multi-column > li {
  position: relative;
  width: 50%;
}

.dropdown-menu ul.multi-column > li > a {
  padding: 12px 0 12px 6px;
}

.dropdown-menu .title {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

ul.multi-column.seven-count li:nth-child(7):after {
  content: none;
}

ul.multi-column.eight-count li:nth-child(8):after {
  content: none;
}

ul.capitalize > li > * {
  text-transform: capitalize;
}
