.image-link-widget {
  display: block;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.image-link-widget img {
  width: 100%;
  z-index: 1;
}

.image-link-widget .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  transition: 300ms all linear;
}

.image-link-widget .ribbon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 3;
}

.image-link-widget .label {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  text-align: center;
  padding: 8px 10px 8px 0;
  transition: 300ms all linear;
  z-index: 4;
}

.image-link-widget .label .text {
  font-size: 12px;
  color: inherit;
}

.image-link-widget .label .triangle {
  position: absolute;
  bottom: 0;
  left: -32px;
  border-bottom: 32px solid black;
  border-left: 32px solid transparent !important;
  z-index: 4;
}

.image-link-widget:hover .overlay {
  background-color: rgba(0, 0, 0, 0.05);
}

.image-link-widget:hover .label {
  padding-left: 10%;
  padding-right: 10%;
}