body.internet-explorer #about_dropdown_menu ul {
  height: 330px;
}

body.internet-explorer #recreation_dropdown_menu ul {
  height: 287px;
}

body.internet-explorer #parks_facilities_dropdown_menu ul {
  height: 328px;
}

body.internet-explorer #events_dropdown_menu ul {
  height: 287px;
}

body.internet-explorer .dropdown-menu ul li {
  height: 40px;
}

body.internet-explorer .dropdown-menu ul,
body.internet-explorer .dropdown-menu ul li {
  list-style: none !important;
  list-style-image: url(data:0) !important;
}