#nav > li:not(:nth-child(2)):before {
  content: '';
  width: 3px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: -3px;
  bottom: -2px;
}

.headhesive {
  position: fixed;
  z-index: 1000;
  top: -75px;
  left: 0;
  box-shadow: 0 0 10px 3px;
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.headhesive--stick {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.headhesive--unstick {
  opacity: 0;
  /* Not required to use, but could be useful to have */
}

.head-wrap:not(.headhesive) .hexagon {
  display: none;
}

.head-wrap:not(.headhesive) .hex {
  display: none;
}

.head-wrap:not(.headhesive) {
  opacity: 1;
  -webkit-transition: all 1000ms ease-in-out;
  -moz-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

.headhesive--stick ~ .head-wrap {
  opacity: 0;
}

//.head-wrap.headhesive--stick h1 {
//  top: 85px;
//}

.head-wrap.headhesive--stick .hexagon {
  display: block;
}

.head-wrap.headhesive--stick .hex {
  display: block;
}

.hexagon {
  position: absolute;
  top: -18px;
  left: -11px;
  width: 130px;
  height: 150px;
  z-index: 2000;
  background-color: white;
  margin: 86.60px 0;
}

.hexagon:before {
  right: 100%;
  border-right: 39.60px solid white;
}

.hexagon:after {
  top: 0;
  width: 0;
  border-left: 39.6px solid white;
  left: 100%;
  /* box-shadow: 0px 2px 2px 2px; */
}

.hexagon:before, .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
}

/**/
.hex {
  width: 200px;
  height: 115px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  text-align: center;
  zoom: 1;
  transform: rotate(90deg);
  top: 60px;
  left: -45px;
  z-index: 30000;
}

.hex a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
  position: absolute;
  top: 0;
  left: 0;
}

.hex .corner-1,
.hex .corner-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -2;
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: 10px 0px -10px 1px;
  /* border-right: 2px solid blue; */
}

.hex .corner-1 {
  z-index: -1;
  transform: rotate(60deg);
}

.hex .corner-2 {
  transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
  width: 173px;
  height: 173px;
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.hex .corner-1:before {
  transform: rotate(-60deg) translate(-87px, 0px);
  transform-origin: 0 0;
}

.hex .corner-2:before {
  transform: rotate(60deg) translate(-48px, -11px);
  bottom: 0;
}

/* Custom styles*/
.hex .inner {
  color: #eee;
}

.hex h4 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

.hex hr {
  border: 0;
  border-top: 1px solid #eee;
  width: 60%;
  margin: 15px auto;
}

.hex p {
  font-size: 16px;
  font-family: 'Kotta One', serif;
  width: 80%;
  margin: 0 auto;
}

.hex.hex-1 {
  background: #74cddb;
}

.hex.hex-2 {
  background: #f5c53c;
}

.hex.hex-3 {
  background: #80b971;
}

/* Swipe Button Effect */
/*.hvr-sweep-to-right {*/
/*display: inline-block;*/
/*vertical-align: middle;*/
/*-webkit-transform: translateZ(0);*/
/*transform: translateZ(0);*/
/*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
/*-webkit-backface-visibility: hidden;*/
/*backface-visibility: hidden;*/
/*-moz-osx-font-smoothing: grayscale;*/
/*position: relative;*/
/*-webkit-transition-property: color;*/
/*transition-property: color;*/
/*-webkit-transition-duration: 0.3s;*/
/*transition-duration: 0.3s;*/
/*}*/
.hvr-sweep-to-right .trigger {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hvr-sweep-to-right .background {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0C5A7D;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/*.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {*/
/*!*color: white;*!*/
/*}*/
.hvr-sweep-to-right .trigger:hover + .background,
.hvr-sweep-to-right .trigger:focus + .background,
.hvr-sweep-to-right .trigger:active + .background {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-right .background.blue {
  background: #0C5A7D;
}

.hvr-sweep-to-right .background.green {
  background: #4e9100;
}

.clearer {
  clear: both;
}

.post-date {
  /*font-style: italic;*/
  /* color: rgba(0,0,0,0.6); */
  font-weight: 700;
  opacity: 0.7;
}
