//$site-width: 1050px;
//$home-slider-height: 1050px;
//$top-color: #85A43D;
//$top-color: rgba(133, 164, 61, 1);
$top-color: #992327;
//$top-color: #1B3D6B;
$top-color-accent: darken($top-color, 10%);

$bottom-color: $top-color;
$bottom-color-accent: darken($bottom-color, 17.5%);

//$menu-color: rgb(12, 90, 125);
//$menu-color: #992327;
$menu-color: #1B3D6B;
//$menu-color: rgb(125, 60, 74);


$slider-color: $menu-color;
$slider-color-accent: transparentize($menu-color, 0.35);

//$footer-content-color: #c7d5a7;
$footer-content-color: white;

//$content-head-color: rgb(133, 164, 61);
//$content-head-color: rgb(209, 112, 39);
$content-head-color: $top-color;
$content-head-accent: transparentize($content-head-color, 0.3);

$emergency-color: red;

$responsive-menu-color: $menu-color;

$header-callout-one-color: $menu-color;
$header-callout-two-color: $top-color;